@import "compass/css3";

span.terminal {
	font-family: monospace;
	font-size: 1.5em;
}
span.terminal:after {
	content:"_";
	opacity: 0;
	animation: cursor 1s infinite;
}
@keyframes cursor {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* styling */
html {
	width: 100%;
	height: 100%;
}



.fill {
	min-height: 100%;
	height: 100%;
}

#landing, #home {
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
}


.container {
	width: 100%;
	min-width: 100%;
	height: 100%;
	background: radial-gradient(circle, #fff 0%, #aaa 100%) no-repeat;
	overflow-x: hidden;
	overflow-y: hidden;
}

body {
	text-align: center;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}
